.row
  .col-md-12
    .panel.panel-info
      .panel-body
        = form_for @clinic do |f|
          - if @clinic.errors.any?
            #error_explanation
              %h2= "#{pluralize(@clinic.errors.count, "error")} prohibited this clinic from being saved:"
              %ul
                - @clinic.errors.full_messages.each do |msg|
                  %li= msg

          .form-group
            = f.label :name, t('name')
            = f.text_field :name, class: "form-control"
          .form-group
            = f.label :organization, t('organization')
            = f.text_field :organization, class: "form-control"
          .form-group
            = f.label :phone, "Phone Number (please use international format, ex. +442071234567)"
            = f.text_field :phone, class: "form-control"
          .form-group
            = f.label :address, t('address')
            = f.text_area :address, class: "form-control"
          .form-group
            = f.label :lat, t('latitude')
            = f.text_field :lat, class: "form-control"
          .form-group
            = f.label :lng, t('longitude')
            = f.text_field :lng, class: "form-control"
          .form-group
            = f.label :country, t('country')
            %br/
            = f.select :country, options_for_select(@countries), {}, {class: "form-control"}
          .form-group
            = f.label :operating_hours, t('operating_hours')

            = f.fields_for :shifts, @shifts do |s|
              .day
                =s.check_box :open
                %span.day-label
                  =s.label :day, t(s.object.day)

                =s.select :opening_time, options_for_select(@times, s.object.opening_time), {}, {class: "form-control time"}
                =t('to')
                =s.select :closing_time, options_for_select(@times, s.object.closing_time), {}, {class: "form-control time"}

                -if s.object.opening_time2.blank?
                  %a.show-times{:href => "#"} Add Additional Shift
                  %span.additional
                    =t('and')
                    =s.select :opening_time2, options_for_select(@times, s.object.opening_time2), {include_blank: true}, {class: "form-control time"}
                    =t('to')
                    =s.select :closing_time2, options_for_select(@times, s.object.closing_time2), {include_blank: true}, {class: "form-control time"}

                -else
                  and
                  =s.select :opening_time2, options_for_select(@times, s.object.opening_time2), {include_blank: true}, {class: "form-control time"}
                  =t('to')
                  =s.select :closing_time2, options_for_select(@times, s.object.closing_time2), {include_blank: true}, {class: "form-control time"}

                =s.hidden_field :day, value: s.object.day


          .form-group
            = f.label :services_offered, t('services_offered')

            = f.fields_for :capabilities, @capabilities do |c|
              .day
                =c.check_box :available
                %span.day-label
                  =c.label :day, t(c.object.topic.name)

                =c.hidden_field :clinic_id, value: @clinic.id
                =c.hidden_field :topic_id, value: c.object.topic.id


          .form-group
            = f.label :cost, t('cost')
            = f.select :cost, options_for_select([[t("free"), "free"], [t("charged"), "charged"]]), {}, {class: "form-control"}
          .form-group
            = f.label :scheduling, t('appointment')
            = f.select :scheduling, options_for_select([[t("not_required"), "not_required"], [t("required"), "required"]]), {}, {class: "form-control"}
          .form-group
            = f.label :contact_name, "Clinic Contact Name"
            = f.text_field :contact_name, class: "form-control"
          .form-group
            = f.label :contact_email, "Clinic Contact Email Address"
            = f.text_field :contact_email, class: "form-control"
          .form-group
            = f.label :contact_phone, "Clinic Contact Phone Number (please use international format, ex. +442071234567)"
            = f.text_field :contact_phone, class: "form-control"
          .form-group
            = f.label :additional_info, "Additional Information"
            = f.text_area :additional_info, class: "form-control"

          .actions
            = f.submit t('save'), class: "btn btn-success"

:coffeescript
  $('.show-times').click (e) ->
    e.preventDefault()
    $(this).next('.additional').show()
    $(this).hide()
