%h2 All Clinics

-if @current_location
  %h4
    Current Location:
    #{@current_location.city_name}, #{@current_location.country_name}

#clinics
  / %input.search{:placeholder => "Search"}/
  
  %ul.list
    -@clinics.each do |clinic|
      %li
        %a.list-link{:href => "#{clinic_path(clinic)}", 'data-no-turbolink' => true}
          %span.name
            =clinic.name
          %span.distance
            ="#{Geocoder::Calculations.distance_between([@current_location.latitude, @current_location.longitude], [clinic.lat, clinic.lng], :units => :km).round(2)} km"

  %ul.pagination

:javascript
  var options = {
    valueNames: [ 'name', 'address', 'hours', 'distance' ],
    plugins: [ListPagination({})]
  };

  var userList = new List('clinics', options);

= link_to 'Add New Clinic', new_clinic_path
