-if current_admin && @unverified_clinics.present?
  %h2 Unverified Clinics

  %ul.list
    -@unverified_clinics.each do |clinic|
      %li
        %a.list-link{:href => "#{clinic_path(clinic)}", 'data-no-turbolink' => true}
          %span.name
            =clinic.name



%h2
  =t('closest_clinics')
  -if params[:topic]
    for
    =t(params[:topic])

%br/
.row.filter-topics
  .col-md-12
    %span
      Click to filter by service:
    -Topic.all.each do |topic|
      %a.btn.btn-primary{:href => "#{clinics_path}&topic=#{topic.name}", 'data-no-turbolink' => true}
        =t(topic.name)

%br/

-if @current_location
  %h4
    =t('current_location')+':'
    #{@current_location.first}, #{@current_location.last}

%br/




#map
=render 'index_map'

#clinics
  / %input.search{:placeholder => "Search"}/
  
  %ul.list
    -@clinics_sorted_by_distance.each do |clinic|
      %li
        %a.list-link{:href => "#{clinic_path(clinic.first)}", 'data-no-turbolink' => true}
          %span.name
            =clinic.first.name
          %span.distance
            =clinic.last
            =t('km')

  %ul.pagination

.row
  .col-md-12.text-center
    %a.btn.btn-primary{:href => "#{new_clinic_path}"}
      %h3
        =t('add_clinic')


:javascript
  var options = {
    valueNames: [ 'name', 'address', 'hours', 'distance' ],
    plugins: [ListPagination({})]
  };

  var userList = new List('clinics', options);


