%h2=@clinic.name

#map
=render 'map'

%p
  %b Address:
  = @clinic.address

-if @clinic.organization_id
  %p
    %b Organization:
    = @clinic.organization_id
%br/
%p
  %b Operating hours:
  = @clinic.operating_hours
%p
  %b Cost:
  = @clinic.cost
%p
  %b Scheduling:
  = @clinic.scheduling
%p
  %b Eligibility:
  = @clinic.eligibility

= link_to 'Edit', edit_clinic_path(@clinic)
