%h2
  =@clinic.name
  =t('clinic_clarifier')

#map
=render 'map'

.row
  .col-md-12
    .panel.panel-info.dark
      .panel-body
        %p
          %b
            =t('address')+':'
          %br/
          = @clinic.address

        -if @clinic.organization.present?
          %p
            %b Organization:
            = @clinic.organization
          %br/
        %p
          %b=t('operating_hours')+':'
          -@shifts.each do |shift|
            %span.shift
              %span.day
                =t(shift.day)
              %span.times
                #{shift.opening_time}-#{shift.closing_time}
        %p
          %b=t('cost')+':'
          =t(@clinic.cost)
        %p
          %b=t('appointment')+':'
          =t(@clinic.scheduling)
        %p
          %b=t('eligibility')+':'
          =t(@clinic.eligibility)

.row
  .col-md-12.text-center
    %a.btn{:href => "#{edit_clinic_path(@clinic)}"}
      %h3
        =t('edit_clinic')