.row
  .col-md-12
    .pull-left
      %h2
        =@clinic.name
        =t('clinic_clarifier')
    .pull-right
      %a.btn.btn-info.btn-large{:href => "#{clinics_path}", 'data-no-turbolink' => true}
        =t('back_to_list')

#map
=render 'map'

.row
  .col-md-12
    .panel.panel-info.dark
      .panel-body
        %p
          %b
            =t('address')+':'
          %br/
          = @clinic.address

        -if @clinic.organization.present?
          %p
            %b=t('organization')+':'
            = @clinic.organization
          %br/

        -if @clinic.contact_phone.present?
          %p
            %b=t('phone_number')+':'
            = @clinic.contact_phone
          %br/

        %p
          %b=t('operating_hours')+':'
          -@shifts.each do |shift|
            %span.shift
              %span.days
                =t(shift.day)
              %span.times
                #{shift.opening_time}-#{shift.closing_time}
                -if shift.opening_time2.present?
                  =t('and')
                  #{shift.opening_time2}-#{shift.closing_time2}
          -if @shifts.empty?
            %p.shift=t('call_clinic_hours')

        %p
          %b=t('services_offered')+':'
          -@capabilities.each do |c|
            %span.shift
              %span.days
                =t(c.topic.name)
        %p
          %b=t('cost')+':'
          =t(@clinic.cost)
        %p
          %b=t('appointment')+':'
          =t(@clinic.scheduling)


-if current_admin
  .row
    .col-md-12.text-center
      %a.btn.btn-primary{:href => "#{edit_clinic_path(@clinic)}"}
        %h3
          =t('edit_clinic')

  %br/
  .row
    .col-md-12.text-center
      %a.btn.btn-primary{:href => "#{clinic_path(@clinic)}", :data => { :confirm => 'Are you sure?', method: :delete }}
        %h3
          Delete Clinic
-else
  .row
    .col-md-6.col-md-offset-3    
      .panel.panel-info
        .panel-body
          %h4.text-center
            =t('incorrect_info')
            %span.gold
              = mail_to 'tmckenzie@doctorsoftheworld.org.uk', nil, encode: "javascript"
            =t('incorrect_info2')
