%h2=@clinic.name

#map
=render 'map'

.row
  .col-md-6.col-md-offset-3    
    .panel.panel-info
      .panel-body
        %p
          %b=t('address')+':'
          = @clinic.address

        -if @clinic.organization
          %p
            %b Organization:
            = @clinic.organization
        %br/
        %p
          %b=t('operating_hours')+':'
          -@clinic.shifts.each do |shift|
            %span.shift
              #{t(shift.day)}, #{shift.opening_time}-#{shift.closing_time}
        %p
          %b=t('cost')+':'
          =t(@clinic.cost)
        %p
          %b=t('appointment')+':'
          = @clinic.scheduling
        %p
          %b=t('eligibility')+':'
          = @clinic.eligibility

        = link_to 'Edit', edit_clinic_path(@clinic)
