!!!
%html
  %head
    %title ClinicFinder
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = favicon_link_tag "fav.png"
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    -if I18n.locale == :ar || I18n.locale == :fa
      :css
        body {
          text-align: right;
        }

  %body#page-top{"data-spy" => "scroll", "data-target" => ".navbar-fixed-top"}
    / Navigation
    %nav.navbar{:role => "navigation"}
      .container
        .row
          .navbar-header
            %a.navbar-brand.page-scroll{:href => "#{root_path}"}
              =image_tag "mdm.png", class: "logo"
            .navlink.pull-left
              =link_to "ClinicFinder", root_path
            

            
            .navlink.pull-right.languages
              -if current_admin
                =link_to "Logout", destroy_admin_session_path, :class => 'btn btn-primary logout'
              .btn-group
                %button.btn.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fa.fa-language.fa-4x
                %ul.dropdown-menu.dropdown-menu-right
                  -if I18n.locale == :ar
                    %li
                      %a{:href => "?locale=en", 'data-no-turbolink' => true} English
                    %li
                      %a{:href => "?locale=fa", 'data-no-turbolink' => true} فارسی
                  -elsif I18n.locale == :fa
                    %li
                      %a{:href => "?locale=en", 'data-no-turbolink' => true} English
                    %li
                      %a{:href => "?locale=ar", 'data-no-turbolink' => true} العربية
                  -else
                    %li
                      %a{:href => "?locale=ar", 'data-no-turbolink' => true} العربية
                    %li
                      %a{:href => "?locale=fa", 'data-no-turbolink' => true} فارسی


    - if notice
      %p.alert.alert-success= notice
    - if alert
      %p.alert.alert-danger= alert

    
    .container
      = yield
    
    - unless @lat_lng
      :javascript
        getGeoLocation();